/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    /* Use percentage for horizontal padding */
    width: 90%;
    /* Make the container full width */
    max-width: 100%;
    /* Remove the fixed max-width */
    margin: 0 auto;
}

/* Logo Styles */
.logo h1 {
    font-family: 'Days One', sans-serif;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 0;
}

/* Navigation Styles */
nav {
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links li:first-child {
    margin-left: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffcc00;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #000000;
        position: absolute;
        top: 60px;
        /* Adjust according to header height */
        left: 0;
        /* Align menu to the left */
        width: 100%;
        /* Span full width */
    }

    .nav-links li {
        margin: 0;
        /* Remove margins */
        width: 100%;
        /* Make list items full width */
    }

    .nav-links li a {
        display: block;
        /* Make links block elements */
        padding: 15px 0;
        /* Vertical padding */
        width: 100%;
        /* Span full width */
        text-align: center;
        /* Center text */
    }

    .header-container {
        padding: 20px;
    }

    .hamburger {
        display: flex;
    }

    /* Toggle Menu */
    .nav-active {
        display: flex;
    }

    /* Animate Hamburger Icon */
    .hamburger.toggle .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.toggle .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.toggle .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}